body {
   background-color: lime;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

h1{
    font-size: 250%;
    color: rgb(14, 10, 232);
    font-style: italic;
}
p {
   font-size: 150%;

}

h3 {
    color: rgb(7, 75, 236);
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
}
#phoneid{
    color: beige;
    font-size: 150%;
    font-weight: bold;
}
#Twitterid {
    color: beige;
    font-size: 150%;
    font-weight: bold;
}
#adressid footer Address{
    flex-direction: column;
    display: flex;
    text-align: center; 
    color: blue;
    margin-bottom: -1%;
    font-size: 150%;
    
    background-color: rgb(7, 241, 78);
    margin-top: 40%;
}

button{
    color: #25008b;
    font-size: 100%;
    background-color: rgb(237, 13, 13);
    font-weight: bold;
    font-style: oblique;
    
    font-family: 'Times New Roman', Times, serif;
}
@media screen and (max-width: 400px) {
    body {
      background-color: rgb(245, 3, 3);
    }
  }
  