body {
   background-image: url("https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&w=600");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

h1{
    font-size: 250%;
    color: rgb(146, 24, 24);
    font-style: italic;
}
p {
   font-size: 150%;

}

h3 {
    color: red;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
}
#phoneid{
    color: beige;
    font-size: 150%;
    font-weight: bold;
}
#Twitterid {
    color: beige;
    font-size: 150%;
    font-weight: bold;
}
#adressid footer Address{
    flex-direction: column;
    display: flex;
    text-align: center; 
    color: blue;
    margin-bottom: -1%;
    font-size: 150%;
    
    background-color: rgb(7, 241, 78);
    margin-top: 40%;
}

@media screen and (max-width: 500px) {
    
    body {
        background-color: blue;
    }
}
