nav {
    background-color: rgb(255, 51, 0);
    text-align-last: right;
    font-size: 160%;
    font-weight: bold;
    color: black;
    padding-left: 20%;
}
body {
    background-color: aqua;
    margin: 0; 
}

p {
    padding-left: 10%;
    padding-right: 10%;
    /* padding-top: 100%; */
    margin-bottom: 50px;
    text-align: center;
    font-size: 160%;
}

h2{
    padding-top: 50px;
    font-size: 200%;
    padding-left: 20%;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



























@media screen and (max-width: 500px) {
    body {
        background-color: blue;
    }
    nav a {
    float: none;
    width: 100%;
    background-color: blanchedalmond;
    padding: 0%;
    flex-direction: column;
    }
}


