body {
    background-color: olive;
    background-size: cover;

}
#educationid h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    /* background-color: rgb(127, 197, 15); */
}
#educationid p {
    font-size: 120%;
    text-align: center;
    font-family: sans-serif;

}

#passionid h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    /* background-color: rgb(127, 197, 15); */
}
#Footballid h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    /* background-color: rgb(127, 197, 15); */
}

#connectid h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    /* background-color: rgb(127, 197, 15); */
}
#passionid p {
    font-size: 120%;
    text-align: center;
    font-family: sans-serif;
}
#Footballid p {
    font-size: 120%;
    text-align: center;
    font-family: sans-serif;
}
#connectid p {
    font-size: 120%;
    text-align: center;
    font-family: sans-serif;
}

