body {
    background-color: olive;
    background-size: cover;

}
#educationid h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 170%;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;

    /* background-color: rgb(127, 197, 15); */
}
#educationid p {
    font-size: 130%;
    text-align: center;
    font-family: sans-serif;
    padding-left: 10%;
    padding-right: 10%;

}

#passionid h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 170%;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;

    /* background-color: rgb(127, 197, 15); */
}
#Footballid h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 170%;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;

    /* background-color: rgb(127, 197, 15); */
}

#connectid h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 170%;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;

    /* background-color: rgb(127, 197, 15); */
}
#passionid p {
    font-size: 130%;
    text-align: center;
    font-family: sans-serif;
    padding-left: 10%;
    padding-right: 10%;

}
#Footballid p {
    font-size: 130%;
    text-align: center;
    font-family: sans-serif;
    padding-left: 10%;
    padding-right: 10%;

}
#connectid p {
    font-size: 130%;
    text-align: center;
    font-family: sans-serif;
    padding-left: 10%;
    padding-right: 10%;

}

button{
    color: #25008b;
    font-size: 100%;
    background-color: rgb(237, 13, 13);
    font-weight: bold;
    font-style: oblique;
    
    font-family: 'Times New Roman', Times, serif;
    float: right;
    

}
@media screen and (max-width: 500px) {
    body {
        background-color: blue;
    }
}
